body {
  background: #C0C0C0;
  font-family: monospace;
}

.wrapper {
  font-size: 18px;
  max-width: 1024px;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
}

@media (min-width: 769px) {
  .wrapper {
    padding: 64px;
  }
}

.about-me {
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.mb-0 {
  margin-top: 0;
}

a {
  color: #000000;
}
